node_modules/
bower_components/
dist/
output/
.psci_modules/
.pulp-cache/
.psc-ide-port
npm-debug.log

# generated types by purescript-bridge
src/Generated/*

# override ignoring *.html defined in global *.gitignore
!src/index.html
