
.explorer-dashboard {

  .blocks-header {
    @neat-outer-container;
    padding: 10px 24px;

    font-size: 10px;
    font-family: var(--fontFamily0-Bold);
    font-weight: bold;
    color: var(--color8);

    &__item {
      @neat-span-columns 2;
    }
  }

  .blocks-waiting {
    padding: 10px 24px;

    font-size: 10px;
    font-family: var(--fontFamily0-Regular);
    color: var(--color13);
  }

  .blocks-body {
    padding-bottom: 24px;

    &__row {
      @neat-outer-container;
      display: block;
      padding: 10px 24px;
      color: var(--color8);

      font-size: 10px;
      font-family: var(--fontFamily0-Regular);
      font-weight: normal;

      &:nth-child(odd) {
        background-color: var(--color7);
      }
    }

    &__column {
      @neat-span-columns 2;
    }
  }

  .blocks-footer {
    text-align: center;
  }

}
