
.explorer-dashboard {

  &__wrapper {
    background-color: var(--color6);

    &:nth-child(even) {
      background-color: var(--color4);
    }
  }

  &__container {
    @extend .outer-container;
    padding: 24px 0;
  }
  @media (--md) {
    &__container {
      padding: 46px 0px 38px 0px;
    }
  }

  &__header {

    lost-utility: clearfix;

    .headline {
      lost-column: 1/1;
      /*lost-column: 1/2;*/
      /* Change it to ^ again, if we will roll back a "more" link (`more__container`) */
    }

    .more {
      &__container {
        lost-column: 1/2;
        text-align: right;
        padding-right: 18px;
      }

      &__link {
        button: standard-button;
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 13px 13px;

        font-family: var(--fontFamily0-Regular);
        color: var(--color5);
        font-size: 12px;
        font-weight: normal;
        line-height: 2; /* same line-height as the left hand headline */
      }
    }

    @media (--md) {
      .more {
        padding-right: 24px;
      }

    }
  }

  &__teaser {
    padding: 0 18px;
    lost-utility: clearfix;
  }

  @media (--md) {
    &__teaser {
      padding: 0 24px;
    }
  }

  .teaser-item {
    lost-column: 1/2;

    padding-bottom: 24px;

    font-family: var(--fontFamily0-Regular);
    color: var(--color8);
    font-weight: normal;

    &__headline {
      position: relative;
      font-size: 13px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 24px;
        border-bottom: 1px solid color(var(--color8) a(0.4));
      }
    }


    &__subheadline {
      font-size: 12px;
      padding-top: 5px;
      line-height: normal; /* overridden */
    }

    &__description {
      padding-top: 5px;
      font-size: 10px;
      color: var(--color13);
    }
  }

  @media (--sm) {
    .teaser-item {
      lost-column: 1/4;
    }
  }

}
