
.explorer-dashboard {

  .transactions {

    &__container {
      padding-bottom: 24px;
    }

    &__waiting {
      padding: 10px 24px;

      font-size: 10px;
      font-family: var(--fontFamily0-Regular);
      color: var(--color13);
    }

    &__row {

      lost-utility: clearfix;

      font-size: 10px;
      font-family: var(--fontFamily0-Regular);
      color: var(--color8);
      padding: 10px 18px;

      &:nth-child(odd) {
        background-color: var(--color6);
      }

    }

    @media (--md) {
      &__row {
        padding: 10px 24px;
      }
    }

    &__column {

      &.hash {
        lost-column: 1/1 1;
        overflow: hidden;
        text-overflow: ellipsis;
        button: standard-button;
        button-color: var(--color8) var(--color5) var(--color5);
      }

      &.currency {
        @extend .hide;
      }

      &.date {
        @extend .hide;
      }

      &.ada,
      &.usd {
        padding-left: 10px;
        background-repeat: no-repeat;
        background-position: left center;
      }

      &.ada {
        background-size: 8px 7px;
      }

      &.usd {
        background-size: 6px 10px;
      }
    }

    @media (--md) {
      &__column {

        &.hash {
          lost-column: 7/12;
        }

        &.date {
          @extend .show;
          lost-column: 3/12;
        }

        &.currency {
          @extend .show;
          lost-column: 2/12;
        }

      }
    }

    &__footer {
      text-align: center;
    }

  }
}
