dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.dir-locals.el
node-db/*
*.key
*.lock
*.dump
*.log
wallet-db/*
logs/*
explorer.log.*
explorer-node.log.*
socket-io.log.*

# Intellij Idea & intellij-haskell
.idea
.ideaHaskellLib
*.iml
