!secrets/*.key

*#
*.aux
*.chi
*.chs.h
*.csv
*.dump
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.html
*.key
*.key.lock
*.lock
*.log
*.o
*.prof
*.svg
*.swp
*.tix
*~

.cabal-sandbox/
.dir-locals.el
.DS_Store
.ghci
.hpc
.hsenv
.stack-work/
.virtualenv
.Werror

cabal-dev
cabal.config
cabal.project.local
cabal.sandbox.config
cardano-db*
cardano-keys/
db-abc/
dist
dist-*
explorer-node.log.*
explorer.log.*
GPATH
GRTAGS
GTAGS
kademlia-abc.dump
keys
lint
logs
my-log-template.yaml
node-db*
node_modules/*
nohup.out
pos-db*
pos-keys
rocks-smartwallet/
run
smartgen-secret.sk
socket-io.log.*
stats-node-*
TAGS
tags
testnetStakes/
testRun
wallet-db/
zhogovo/

# Our custom build script (util-scripts/build.sh)
b
.no-nix
.ram

# IPython notebooks
.ipynb_checkpoints
*.ipynb

# Config files
.hindent.yaml
.stylish-haskell.yaml

# Intellij Idea & intellij-haskell
.idea
.ideaHaskellLib
*.iml
