version: 0.2.{build}
image: Visual Studio 2015

build: off

cache:
  # TODO: https://github.com/commercialhaskell/stack/issues/1176#issuecomment-269520803
  - "c:\\sr\\%APPVEYOR_REPO_BRANCH%"
  # - '.stack-work'

# Avoid long paths on Windows
environment:
  global:
    # Avoid long paths on Windows
    STACK_ROOT: "c:\\sr\\%APPVEYOR_REPO_BRANCH%"
    CSL_SYSTEM_TAG: "win64"

before_test:
- Echo %APPVEYOR_BUILD_VERSION% > build-id
- IF DEFINED APPVEYOR_PULL_REQUEST_NUMBER SET STACK_ROOT=C:\sr\pr
- Echo Using STACK_ROOT '%STACK_ROOT%'
# Install stack
- curl -sSL -o stack.zip --insecure http://www.stackage.org/stack/windows-x86_64
- 7z x stack.zip stack.exe


# Install rocksdb
- git clone https://github.com/facebook/rocksdb.git --branch v4.13.5
- ps: Start-FileDownload 'https://ci.appveyor.com/api/buildjobs/kbpteb8j55p6sa2m/artifacts/rocksdb%2Fbuild%2FRocksdb.zip' -FileName rocksdb.zip
- 7z x rocksdb.zip

test_script:
  - stack setup --no-reinstall
  # Retry transient failures due to https://github.com/haskell/cabal/issues/4005 
  - scripts\appveyor-retry call stack --no-terminal --local-bin-path daedalus 
      install -j 2 --test --no-haddock-deps --bench --no-run-benchmarks 
      --flag cardano-sl:with-web 
      --flag cardano-sl:with-wallet 
      --flag cardano-sl:-asserts
      --flag cardano-sl:-dev-mode
      --extra-include-dirs="C:\OpenSSL-Win64\include" 
      --extra-lib-dirs="C:\OpenSSL-Win64" 
      --extra-include-dirs="C:\projects\pos-haskell-prototype\rocksdb\include" 
      --extra-lib-dirs="C:\projects\pos-haskell-prototype" 
  - stack exec -- cardano-wallet-hs2purs
  - copy log-config-prod.yaml daedalus\log-config-prod.yaml
  - cd daedalus
  - Echo %APPVEYOR_BUILD_VERSION% > build-id
  - ps: Install-Product node 7
  - npm install
  - npm run build:prod

artifacts:
  - path: daedalus/
    name: CardanoSL
    type: zip

notifications:
  - provider: Slack
    incoming_webhook:
      secure: 3KXYR8gCzuhyML2adCU1HayVFPi5TfDUhiQcffkf8QNcwqmZRL+IY/idxf951NNYJ8+GJQDhek7LWLhKrr4d08J9erBw8GePrCwTaBfwQkQ=
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: true
