version: 1.0.{build}
image: Visual Studio 2015

build: off

environment:
  global:
    # Avoid long paths on Windows
    STACK_ROOT: "c:\\s"
    STACK_WORK: ".w"
    WORK_DIR: "c:\\w"
    CACHE_S3_VERSION: v0.1.4
    CACHE_S3_MAX_SIZE: 1600MB  # AppVeyor limits the amount uploaded to approx 2GB
    AWS_REGION: us-west-1
    S3_BUCKET: appveyor-ci-cache
    AWS_ACCESS_KEY_ID:
      secure: sQWt5CpaN0H+jwUVoTsrET46pADUDEcrJ5D9MHmKX0M=
    AWS_SECRET_ACCESS_KEY:
      secure: m5sQYd16K8HA0zoZaD0gOl4EEWUso1D51L5rp+kT3hLaIE3tt4iT+b+iW8F4F0FU

init:
- ps: $env:CACHE_S3_READY = (("$env:CACHE_S3_VERSION" -ne "") -and ("$env:S3_BUCKET" -ne "") -and ("$env:AWS_ACCESS_KEY_ID" -ne "") -and ("$env:AWS_SECRET_ACCESS_KEY" -ne ""))

before_test:
# Avoid long paths not to each MAX_PATH of 260 chars
- xcopy /q /s /e /r /k /i /v /h /y "%APPVEYOR_BUILD_FOLDER%" "%WORK_DIR%"
- cd "%WORK_DIR%"
# Restore cache
- Echo %APPVEYOR_BUILD_VERSION% > build-id
- ps: >-
    if ( $env:CACHE_S3_READY -eq $true ) {
      Start-FileDownload https://github.com/fpco/cache-s3/releases/download/$env:CACHE_S3_VERSION/cache-s3-$env:CACHE_S3_VERSION-windows-x86_64.zip -FileName cache-s3.zip
      7z x cache-s3.zip cache-s3.exe
      .\cache-s3 --max-size=$env:CACHE_S3_MAX_SIZE --prefix=$env:APPVEYOR_PROJECT_NAME --git-branch=$env:APPVEYOR_REPO_BRANCH --suffix=windows -v info -c restore stack --base-branch=develop
      .\cache-s3 --max-size=$env:CACHE_S3_MAX_SIZE --prefix=$env:APPVEYOR_PROJECT_NAME --git-branch=$env:APPVEYOR_REPO_BRANCH --suffix=windows -v info -c restore stack work --base-branch=develop
    }

# Get custom GHC
- ps: >-
    mkdir C:\ghc

    Invoke-WebRequest "https://s3.eu-central-1.amazonaws.com/ci-static/ghc-8.2.2-x86_64-unknown-mingw32.tar.xz" -OutFile "C:\ghc\ghc.tar.xz" -UserAgent "Curl"

    7z x C:\ghc\ghc.tar.xz -oC:\ghc

    7z x C:\ghc\ghc.tar -oC:\ghc

    $env:PATH="$env:PATH;C:\ghc\ghc-8.2.2\bin"

# Install OpenSSL 1.0.2 (see https://github.com/appveyor/ci/issues/1665)
- ps: (New-Object Net.WebClient).DownloadFile('https://slproweb.com/download/Win64OpenSSL-1_0_2o.exe', "$($env:USERPROFILE)\Win64OpenSSL.exe")
- ps: cmd /c start /wait "$($env:USERPROFILE)\Win64OpenSSL.exe" /silent /verysilent /sp- /suppressmsgboxes /DIR=C:\OpenSSL-Win64-v102
- ps: Install-Product node 6


# Install rocksdb
- git clone https://github.com/facebook/rocksdb.git --branch v4.13.5
- ps: Start-FileDownload 'https://ci.appveyor.com/api/buildjobs/kbpteb8j55p6sa2m/artifacts/rocksdb%2Fbuild%2FRocksdb.zip' -FileName rocksdb.zip
- 7z x rocksdb.zip

# CSL-1509: After moving the 'cardano-sl' project itself into a separate folder ('lib/'), the 'cardano-text.exe' executable fails on AppVeyor CI.
# After some investigation, it was discovered that this was because 'rocksdb.dll' has to be located in this folder as well, or else the test executable doesn't work.
- copy rocksdb.dll node
- copy rocksdb.dll lib
- copy rocksdb.dll wallet
- copy rocksdb.dll wallet-new

# Install liblzma/xz
- ps: Start-FileDownload https://tukaani.org/xz/xz-5.2.3-windows.zip -Filename xz-5.2.3-windows.zip
- 7z -oC:\xz_extracted x xz-5.2.3-windows.zip

# Get custom GHC
- ps: >-
    mkdir C:\ghc

    Invoke-WebRequest "http://releases.mobilehaskell.org/ghc-8.0.2-x86_64-unknown-mingw32.tar.xz" -OutFile "C:\ghc\ghc.tar.xz" -UserAgent "Curl"

    7z x C:\ghc\ghc.tar.xz -oC:\ghc

    7z x C:\ghc\ghc.tar -oC:\ghc

    $env:PATH="$env:PATH;C:\msys64\mingw64\bin;C:\msys64\mingw64\lib;C:\ghc\ghc-8.0.2\bin"


# Install cabal

- ps: Start-FileDownload https://www.haskell.org/cabal/release/cabal-install-2.2.0.0/cabal-install-2.2.0.0-x86_64-unknown-mingw32.zip -Filename cabal-install-2.2.0.0-x86_64-unknown-mingw32.zip
- 7z e cabal-install-2.2.0.0-x86_64-unknown-mingw32.zip -oC:\msys64\mingw64\bin\
- dir /s /b C:\msys64\mingw64\bin\


test_script:
  - cd "%WORK_DIR%"

  - mkdir submods

  - git clone https://github.com/well-typed/cborg submods/cborg
  - git -C submods/cborg checkout 3d274c14ca3077c3a081ba7ad57c5182da65c8c1

  - git clone https://github.com/serokell/time-units.git submods/time-units
  - git -C submods/time-units checkout 6c3747c1ac794f952de996dd7ba8a2f6d63bf132

  - git clone https://github.com/serokell/acid-state.git submods/acid-state
  - git -C submods/acid-state checkout 9a8af2440d655e14b802639b0b363be2ffb5a32a

  - git clone https://github.com/serokell/kademlia.git submods/kademlia
  - git -C submods/kademlia checkout 7120bb4d28e708acd52dfd61d3dca7914fac7d7f

  - git clone https://github.com/input-output-hk/plutus-prototype submods/plutus-prototype
  - git -C submods/plutus-prototype checkout d4aa461fc69fc6957aab46b41a670c2144aefb77

  - git clone https://github.com/thoughtpolice/hs-ed25519 submods/hs-ed25519
  - git -C submods/hs-ed25519 checkout da4247b5b3420120e20451e6a252e2a2ca15b43c

  - git clone https://github.com/input-output-hk/cardano-report-server.git submods/cardano-report-server
  - git -C submods/cardano-report-server checkout 81eea7361a75923f9402fcb7840fb36722dbf88e

  - git clone https://github.com/serokell/network-transport-tcp submods/network-transport-tcp
  - git -C submods/network-transport-tcp checkout 3d56652123bd296dc759cd31947eb2a17924e68a

  - git clone https://github.com/serokell/network-transport submods/network-transport
  - git -C submods/network-transport checkout 018a50b9042c2115c3ec9c9fd5ca5f28737dd29c

  - git clone https://github.com/avieth/network-transport-inmemory submods/network-transport-inmemory
  - git -C submods/network-transport-inmemory checkout 5d8ff2b07b9df35cf61329a3d975e2c8cf95c12a

  - git clone https://github.com/input-output-hk/cardano-crypto submods/cardano-crypto
  - git -C submods/cardano-crypto checkout 287cc575fafe86af9d24af9d012c47f9d3f04da0

  - git clone https://github.com/haskell-crypto/cryptonite submods/cryptonite
  - git -C submods/cryptonite checkout 41d610fb18e2924d7aa704c37798e1c197557f3e

  - git clone https://github.com/serokell/engine.io.git submods/engine.io
  - git -C submods/engine.io checkout a594e402fd450f11ad60d09ddbd93db500000632

  - git clone https://github.com/well-typed/canonical-json.git submods/canonical-json
  - git -C submods/canonical-json checkout 2d261bb971bada1893753b503452d9e6e217bc4a

  - git clone https://github.com/input-output-hk/rocksdb-haskell-ng.git submods/rocksdb-haskell-ng
  - git -C submods/rocksdb-haskell-ng checkout 49f501a082d745f3b880677220a29cafaa181452

  - git clone https://github.com/serokell/servant.git submods/servant
  - git -C submods/servant checkout 5db013cc36894afdff9e748dbc1c05947c54df3d

  - git clone https://github.com/serokell/servant-multipart.git submods/servant-multipart
  - git -C submods/servant-multipart checkout e7de56b5f7c39f8dc473f1bbaf534bb7affc3cf4

  - git clone https://github.com/input-output-hk/log-warper.git submods/log-warper
  - git -C submods/log-warper checkout b8c390357b27e7ae3b9b0c5309bf9d0bbbf09852

  - cabal update
  - dir submods\
  - cabal new-build all
