
.explorer-address {

  &__wrapper {
    background-color: var(--color4);

    &:nth-child(even) {
      background-color: var(--color6);
    }
  }

  &__container {
    @neat-outer-container;
    padding: 56px 48px 48px 48px;
  }

  .address-detail {
      @neat-span-columns 8;

      font-family: var(--fontFamily0-Regular);
      color: var(--color8);
      font-size: 10px;
      font-weight: normal;

      &__row {
        @neat-outer-container;
        background-color: transparent;
        padding: 0 24px;

        &:nth-child(even) {
          background-color: var(--color6);
        };
      }

      &__column {
        @neat-span-columns 4;
        padding: 10px 0;
        font-family: var(--fontFamily0-Regular);
        color: var(--color8);
        font-size: 10px;
        font-weight: normal;

        &:last-child {
          @neat-span-columns 8;
        }

        .link {
          button: standard-button;
          button-color: var(--color8) color(var(--color5) a(0.8)) var(--color5);
        }

        &.ada {
          padding-left: 10px;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 8px 7px;
        }
      }
  }

  .qr {
    @neat-span-columns 4;

    font-family: var(--fontFamily0-Regular);
    color: var(--color8);
    font-size: 10px;
    font-weight: normal;

    .tab {
      padding: 10px 24px;
    }
    &__wrapper {
      background-color: var(--color6);
      padding: 12px 24px;
      box: horizontal;
    }

    &__image {
      background-color: color(var(--color2) a(0.1));
      width: 96px;
      height: 96px;
      box-item: top;
    }

    &__description {
      padding-left: 12px;
      box-item: flex-1;
    }

  }


  .transaction-header {
    background-color: var(--color7); /* overridden */
  }

}
