
.explorer-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color2);
  background-image: url('../static/images/car-sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% var(--min-height-header-bg-image);


  &__container {
    @neat-outer-container;
    padding: 0 10px;
  }
  @media (--md) {
    &__container {
      @neat-outer-container;
      max-width:var(--max-width-desktop);
      padding: 0 96px;
    }
  }

  &__top {
    border-bottom: solid 1px color(var(--color3) a(0.5));
    font-size: 12px;
    height: var(--height-header-top);

    .logo__container {
      @neat-span-columns 2;
    }

    .logo__wrapper {
      height: var(--height-header-top);
      box: horizontal;
    }

    .logo__img {
      width: 49px;
      height: 45px;
      box-item: center;
    }

    .nav__container {
      @neat-span-columns 8;
      text-align: center;
      display: none;
    }
    @media (--md) {
      .nav__container  {
        display: block;
      }
    }


    .nav__list {

    }

    .nav__item-wrapper {
      height: var(--height-header-top);
      line-height: var(--height-header-top);
      font-family: var(--fontFamily0-Light);
      font-size: 12px;
      padding: 0 20px;

      button: standard-button;
      button-color: color(var(--color0) a(0.7)) var(--color0) var(--color0);

      &:hover,
      &:active {
        font-family: var(--fontFamily0-Regular);
      }

      &:hover .nav__item-text::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: var(--color5);
          bottom: -3px;
        }
    }

    .nav__item-text {
      position: relative;
    }


    .currency__container {
      @neat-span-columns 2;
      height: var(--height-header-top);
      text-align: right;
    }

    .currency__select {
      height: var(--height-header-top);
      color: var(--color0);
      font-family: var(--fontFamily0-Light);
      font-size: 12px;
      margin: 0;
      width: auto;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 8px 8px;
      appearance: none;
      padding-right: 15px;

      &:hover{
        cursor: pointer;
      }
    }

    @media (--sm) {
      .currency__select {
        @extend .invisible;
      }
    }

  }
}
