@import "../../global.css";

.explorer-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color2);
  background-image: url('../static/images/header.jpg');
  background-repeat: no-repeat;
  background-size: 100% var(--min-height-header-bg-image);

  &__container {
    @neat-outer-container;
  }

  &__top {
    border-bottom: solid 1px color(var(--color3) a(0.5));
    font-size: 12px;
    height: var(--height-header-top);
    .logo-container {
    }

    .logo__container {
      @neat-span-columns 2;
    }

    .logo__wrapper {
      height: var(--height-header-top);
      position: relative;
    }

    .logo__img {
      width: 49px;
      height: 45px;
      top: center;
    }

    .nav__container {
      @neat-span-columns 8;
      text-align: center;
    }

    .nav__list {

    }

    .nav__item {
      height: var(--height-header-top);
      line-height: var(--height-header-top);
      font-family: var(--fontFamily0-Light);
      font-size: 12px;
      color: var(--color0);
      padding: 0 20px;

      button: standard-button;
      button-color: var(--color0) color(var(--color0) a(0.8)) color(var(--color0) a(0.7));
      button-background: transparent color(var(--color0) a(0.2)) color(var(--color0) a(0.1));
    }


    .currency__container {
      @neat-span-columns 2;
      height: var(--height-header-top);
      text-align: right;
    }

    .currency__select {
      height: var(--height-header-top);
      color: var(--color0);
      font-family: var(--fontFamily0-Light);
      font-size: 12px;
      margin: 0;
      width: auto;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: right center;
      appearance: none;
      padding-right: 20px;
    }

  }
}
