@import "../../global.css";

:root {
  --transaction-header-height: 46px;
}

.explorer-transaction {

  &__wrapper {
    background-color: var(--color4);

    &:nth-child(even) {
      background-color: var(--color6);
    }
  }

  &__container {
    @neat-outer-container;
    padding: 56px 48px 48px 48px;
  }

  .transaction-header {
    @neat-outer-container;
    height: var(--transaction-header-height);
    background-color: var(--color6);
    padding-left: 24px;

    font-family: var(--fontFamily0-Regular);
    font-size: 10px;

    .hash {
      @neat-span-columns 8;
      color: var(--color8);
      line-height: var(--transaction-header-height);

      button: standard-button;
      button-color: var(--color8) color(var(--color5) a(0.8)) var(--color5);
    }

    .date {
      @neat-span-columns 2;
      line-height: var(--transaction-header-height);
      color: var(--color9);
    }

    .amount-container {
      @neat-span-columns 2;
      position: relative;
      height: 100%;
    }

    .amount {
      top: center;
      right: 12px;
      color: var(--color0);

      padding: 5px 10px 5px 20px;

      button: primary-button;
      border-radius: 4px;


      background-repeat: no-repeat;
      background-position: 7px center;
      background-size: 8px 7px;
    }
  }

  .table-addresses {

    font-family: var(--fontFamily0-Regular);
    font-size: 10px;
    color: var(--color8);
    width: 100%;

    tr {

      &:first-child {
        background-color: var(--color6);
      }

      &:nth-child(even) {
        background-color: var(--color7);
      }
    }

    td {

      &:nth-child(1) {
        background-color: blue;
        width: 275px;
      }

      &:nth-child(2) {
        background-color: yellow;
        width: 120px;
      }

      &:nth-child(4) {
        background-color: red;
        width: 100px;
      }
    }
  }

  .table-summary {

    font-family: var(--fontFamily0-Regular);
    font-size: 10px;
    color: var(--color8);
    width: 100%;

    tr {

      &:nth-child(odd) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: var(--color7);
      }
    }

    td {
      padding: 10px 10px 10px 0;

      &:first-child {
        padding-left: 24px;
        width: 164px;
      }

      &.ada {
        padding-left: 10px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 7px;
      }
    }

  }
}
