
.explorer-transaction {

  &__wrapper {
    background-color: var(--color4);

    &:nth-child(even) {
      background-color: var(--color6);
    }
  }

  &__container {
    @neat-outer-container;
    padding: 24px 0;
  }

  @media (--md) {
    &__container {
      padding: 56px 48px 48px 48px;
    }
  }

  &__message {
    padding: 0 18px;
    font-size: 10px;
    font-family: var(--fontFamily0-Regular);
    color: var(--color13);
  }

  @media (--md) {
  &__message {
      padding: 0 24px;
    }
  }

  .table-summary {

    font-family: var(--fontFamily0-Regular);
    font-size: 10px;
    color: var(--color8);
    width: 100%;

    tr {

      &:nth-child(odd) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: var(--color7);
      }
    }

    td {
      padding: 10px 10px 10px 0;

      &:first-child {
        padding-left: 18px;
        width: 164px;
      }

      @media (--md) {
        &:first-child {
          padding-left: 24px;
        }
      }

      .ada {
        padding-right: 10px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 8px 7px;
      }

      .link {
        color: var(--color8);
        button: standard-button;
        button-color: var(--color8) color(var(--color5) a(0.8)) var(--color5);
      }
    }

  }

  .tx-failed {
    padding: 0 18px 30px 18px;
    font-size: 10px;
    font-family: var(--fontFamily0-Regular);
    color: var(--color1);
  }

  @media (--md) {
    .tx-failed {
      padding: 0 24px 30px 24px;
    }
  }
}
