.align-right {
  text-align:right;
}

@svg-load logo url('../static/images/cardano-logo.svg');

.header-img {
  position: relative;
  box-item: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: svg-inline(logo);
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.testnet-logo {
  width:1.5em;
}

.nav-search {
  margin-top:.75em;
}

.pure-table {
  border: 0;
}

.pure-table a {
  color: #832dc4;
}

.pure-table td {
  color: #A7A8B3;
}

.pure-table thead {
  background:transparent !important;
}

.pure-table th {
  color: #A7A8B3;
}

.pure-table-horizontal td, .pure-table-horizontal th {
  border-bottom: 2px dotted rgba(163, 128, 188, 0.5)
}

@media (max-width: 47.999em) {
  .mob-align-center {
    text-align:center;
  }
}

.fa {
  margin-right: 0.5em;
}

/* transactions page */

@svg-load ada url('../static/images/ada-currency-symbol.svg');

td.ada, th.ada {
  text-align: right;
}

.amount {
  box-item: center;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 8px 7px;
  padding-right: 23px;
}

.truncate-address {
  font-size: 12px;
  padding: 0 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30em;
}

.txn-arrow {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-y: center;
  padding-left: 30px;
  align-self: center;

  tr > td:last-child {
    padding-right: 0;
  }
}

/* addresses */


.address-qr {

  margin-left: 1.5em;

  &__tab {
    @extend .hide;
  }

  @media (--md) {
    &__tab {
      @extend .show;
      padding: 10px 24px;
    }
  }

  &__wrapper {
    padding: 12px 18px;
    /* box: horizontal; */
  }

  @media (--md) {
    &__wrapper {
      padding: 10px 24px;
    }
  }

  &__image {
    background-color: var(--color6);
    padding: 10px;
    width: 116px;
    height: 116px;
    margin-right: 2em;
    box-item: top;
    align-self: flex-start;
  }

  &__description {
    padding-left: 12px;
    box-item: flex-1;
  }

}

.explorer-search {
  height: 100%;
  box: horizontal;
  padding-right: 10px;
}

.explorer-search__container {
  box-item: center;

  lost-column: 9/12;
  lost-offset: 1.5/12;

  @extend .animated;
  @extend .fadeIn;
  height: 42px;

  animation-duration: .3s;
  /* We do need a little delay
          to hide previous state */
  animation-delay: .3s;
  width: 100%;

  &.focused {
    transition: all 0.3s ease;
    /* We do need a little offset here
            to have a smooth transition */
    lost-column: 11.8/12;
    lost-offset: 0.1/12;
  }
}
