
/* ---------------------------
  vars
------------------------------ */

:root {
  --color0: #fff;
	--color1: #082737;
	--color2: #0c1723;
	--color3: #fcfcfc;
	--color4: #fafbfc;
	--color5: #ce851f;
	--color6: #f3f6f9;
	--color7: #edf0f3;
	--color8: #333333;


  --max-width-desktop: 960px;

  --fontFamily0-Light: 'fontFamily0-Light';
  --fontFamily0-Regular: 'fontFamily0-Regular';
  --fontFamily0-Bold: 'fontFamily0-Bold';

  --height-header-top: 70px;
  /* TODO (jk) Use a larger image instead of adding min-height*/
  --min-height-header-bg-image: 300px;
}

/* ---------------------------
  fonts
------------------------------ */

@font-face {
  font-family: var(--fontFamily0-Regular);
  src: url("../static/fonts/Montserrat-Medium.otf") format("opentype");
}

@font-face {
  font-family: var(--fontFamily0-Regular);
  src: url("../static/fonts/montserrat_[allfont.ru].ttf") format("truetype");
}

@font-face {
  font-family: var(--fontFamily0-Light);
  src: url("../static/fonts/Montserrat-Thin.otf") format("opentype");
}

@font-face {
  font-family: var(--fontFamily0-Light);
  src: url("../static/fonts/montserrat-light_[allfont.ru].ttf") format("truetype");
}

@font-face {
  font-family: var(--fontFamily0-Bold);
  src: url("../static/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: var(--fontFamily0-Bold);
  src: url("../static/fonts/montserrat-bold_[allfont.ru].ttf") format("truetype");
}



/* ---------------------------
  components
------------------------------ */

@button standard-button {
  border: none;
  color: var(--color2);
  color-hover: color(var(--color2) a(0.5));
  color-active: var(--color2);
  background-color: transparent;
  background-color-hover: transparent;
  background-color-active: transparent;
}

/* TODO (jk) remove btn class */
.btn {
  button: standard-button;
}

.headline {
  font-family: var(--fontFamily0-Regular);
  color: var(--color5);
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 24px 24px 24px;
}
