
/* ---------------------------
  vars
------------------------------ */

:root {

  /* colors */
  --color0: #fff;
	--color1: #082737;
	--color2: #0c1723;
	--color3: #fcfcfc;
	--color4: #fafbfc;
	--color5: #ce851f;
	--color6: #f3f6f9;
	--color7: #edf0f3;
	--color8: #333333;
	--color9: #414141;
	--color10: #0e2735;
	--color11: #cbcbcb;
	--color12: #e6e6e6;
	--color13: #aaa;

  /* fonts */
  --fontFamily0-Light: 'fontFamily0-Light';
  --fontFamily0-Regular: 'fontFamily0-Regular';
  --fontFamily0-Bold: 'fontFamily0-Bold';

  /* global vars */
  --height-header-top: 70px;
  --min-height-header-bg-image: 450px;
  --max-width-desktop: 960px;
}


/* breakpoints */
/*extra small devices (portrait phones, <576px)*/
@custom-media --xs (width <= 575px);
/*small devices (landscape phones, >=576px )*/
@custom-media --sm (width <= 576px);
/*medium devices (tablets, >=768px)*/
@custom-media --md (width >= 768px);
/*large devices (desktops, >=992px)*/
@custom-media --lg (width >= 992px);
/*extra large devices (large desktops, >=1200px)*/
@custom-media --xl (width >= 1200px);

/* ---------------------------
  fonts
------------------------------ */

@font-face {
  font-family: var(--fontFamily0-Regular);
  src: url("../static/fonts/Montserrat-Medium.otf") format("opentype");
}

@font-face {
  font-family: var(--fontFamily0-Regular);
  src: url("../static/fonts/montserrat_[allfont.ru].ttf") format("truetype");
}

@font-face {
  font-family: var(--fontFamily0-Light);
  src: url("../static/fonts/Montserrat-Thin.otf") format("opentype");
}

@font-face {
  font-family: var(--fontFamily0-Light);
  src: url("../static/fonts/montserrat-light_[allfont.ru].ttf") format("truetype");
}

@font-face {
  font-family: var(--fontFamily0-Bold);
  src: url("../static/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: var(--fontFamily0-Bold);
  src: url("../static/fonts/montserrat-bold_[allfont.ru].ttf") format("truetype");
}



/* ---------------------------
  embedded svg
------------------------------ */

@svg-load logo url('../static/images/cardano-logo.svg');

.bg-logo {
  background-image: svg-inline(logo);
  background-size: contain;
}

@svg-load arrow-up url('../static/images/arrow-up.svg');

.bg-arrow-up {
  background-image: svg-inline(arrow-up);
}

@svg-load arrow-down url('../static/images/arrow-bottom.svg');

.bg-arrow-down {
  background-image: svg-inline(arrow-down);
}

@svg-load ada url('../static/images/ada-currency-symbol.svg');

.bg-ada {
  background-image: svg-inline(ada);
}

@svg-load ada-dark url('../static/images/ada-currency-symbol-dark.svg');

.bg-ada-dark {
  background-image: svg-inline(ada-dark);
}

@svg-load usd-dark url('../static/images/usd-currency-symbol-dark.svg');

.bg-usd-dark {
  background-image: svg-inline(usd-dark);
}

@svg-load transaction-arrow url('../static/images/transaction-arrow-blue.svg');

.bg-transaction-arrow {
  background-image: svg-inline(transaction-arrow);
}

@svg-load triangle-right url('../static/images/triangle-right.svg');

.bg-triangle-right {
  background-image: svg-inline(triangle-right);
}

.bg-triangle-left {
  background-image: svg-inline(triangle-right);
  transform: rotate(180deg);
}

@svg-load arrow-right url('../static/images/arrow-right.svg');

@svg-load arrow-right-hover url('../static/images/arrow-right.svg') {
  g:nth-child(1) {
    fill: var(--color2);
    fill-opacity: 0.5;
  }
};

.bg-arrow-right {
  background-image: svg-inline(arrow-right);
  &:hover {
    background-image: svg-inline(arrow-right-hover);
  }
}

@svg-load icon-search url('../static/images/search-ic.svg') {
  g:nth-child(1) {
    fill: var(--color0);
    fill-opacity: 0.5;
  }
};

.bg-icon-search {
  background-image: svg-inline(icon-search);
}

@svg-load icon-search-hover url('../static/images/search-ic.svg') {
  g:nth-child(1) {
    fill: var(--color0);
    fill-opacity: 1;
  }
};

.bg-icon-search-hover {
  background-image: svg-inline(icon-search-hover);
}
/* ---------------------------
  components
------------------------------ */

@button standard-button {
  border: none;
  color: var(--color2);
  color-hover: color(var(--color2) a(0.5));
  color-active: var(--color2);
  background-color: transparent;
  background-color-hover: transparent;
  background-color-active: transparent;
}

@button primary-button {
  color: var(--color0);
  color-hover: var(--color0);
  color-active: color(var(--color0) a(0.8));

  background-color: var(--color10);
  background-color-hover: var(--color5);
  background-color-active: color(var(--color5) a(0.8));
}

@button outline-button {
  color: var(--color9);
  color-hover: color(var(--color9) a(0.5));
  color-active: var(--color9);

  background-color: transparent;
  background-color-hover: transparent;
  background-color-active: transparent;

  border-width: 1px;
  border-color: var(--color9);
  border-color-hover: color(var(--color9) a(0.8));
  border-color-active: var(--color9);
}

.headline {
  font-family: var(--fontFamily0-Regular);
  color: var(--color5);
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 24px 24px 24px;
}

.invisible {
  visibility: hidden !important;
}
