
.explorer-dashboard {

  &__wrapper {
    background-color: var(--color6);

    &:nth-child(even) {
      background-color: var(--color4);
    }
  }

  &__container {
    @neat-outer-container;
    padding: 56px 48px 48px 48px;
  }

  &__header {
    @neat-outer-container;

    .headline {
      @neat-span-columns 6;
    }

    .more {
      &__container {
        @neat-span-columns 6;
        text-align: right;
        padding-right: 24px;
      }

      &__link {
        button: standard-button;
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 13px 13px;

        font-family: var(--fontFamily0-Regular);
        color: var(--color5);
        font-size: 12px;
        font-weight: normal;
        line-height: 2; /* same line-height as the left hand headline */
      }

    }
  }

  &__teaser {
    @neat-outer-container;
    padding: 0 24px;
  }

  .teaser-item {
    @neat-span-columns 3;
    @neat-omega 4n;

    padding-bottom: 24px;

    font-family: var(--fontFamily0-Regular);
    color: var(--color8);
    font-weight: normal;

    &__headline {
      position: relative;
      font-size: 13px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 24px;
        border-bottom: 1px solid color(var(--color8) a(0.4));
      }
    }


    &__subheadline {
      font-size: 12px;
      padding-top: 5px;
      line-height: normal; /* overridden */
    }

    &__description {
      padding-top: 5px;
      font-size: 10px;
      color: var(--color13);
    }
  }

  .btn-expand {
      font-family: var(--fontFamily0-Regular);
      font-weight: normal;
      font-size: 10px;

      button: outline-button;
      padding: 9px 15px;
      border-radius: 4px;
      button-color: color(var(--color9) a(0.5)) color(var(--color9) a(0.5)) var(--color9);
      button-border: 1px color(var(--color9) a(0.2)) color(var(--color9) a(0.2)) var(--color9);
      button-background: transparent var(--color7) var(--color7);
  }

  @media (--sm) {
    .teaser-item {
      @neat-span-columns 6;
      @neat-omega 2n;
    }
  }

}
