
.explorer-address {

  &__wrapper {
    background-color: var(--color4);

    &:nth-child(even) {
      background-color: var(--color6);
    }
  }


  &__container {
    @extend .outer-container;
    padding: 24px 0px;

  }
  @media (--md) {
    &__container {
      padding: 56px 48px 48px 48px;
    }
  }

  .message {
    padding: 0 18px;
    font-size: 10px;
    font-family: var(--fontFamily0-Regular);
    color: var(--color13);
  }

  @media (--md) {
    .message {
      padding: 0 24px;
    }
  }

  .address-hash {
      background-color: var(--color6);
      padding: 5px 10px;
      font-family: var(--fontFamily0-Regular);
      color: color(var(--color8) a(0.6));
      font-size: 12px;
      font-weight: normal;
  }

  .address-overview {
      lost-utility: clearfix;
  }

  .address-detail {

      font-family: var(--fontFamily0-Regular);
      color: var(--color8);
      font-size: 10px;
      font-weight: normal;

      &__row {
        lost-utility: clearfix;
        background-color: transparent;

        &:nth-child(even) {
          background-color: var(--color6);
        };
      }

      &__column {
        padding: 10px 18px;
        font-family: var(--fontFamily0-Regular);
        color: var(--color8);
        font-size: 10px;
        font-weight: normal;

        &.label {
          @neat-span-columns 4;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.amount {
          @neat-span-columns 8;
          padding-left: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.ada {
          padding-left: 10px;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 8px 7px;
        }
      }

      @media (--md) {
        &__column {
          padding: 10px 24px;
        }
      }
  }

  @media (--lg) {
    .address-detail {
      lost-column: 8/12;
    }
  }

  .address-qr {

    font-family: var(--fontFamily0-Regular);
    color: var(--color8);
    font-size: 10px;
    font-weight: normal;

    &__tab {
      @extend .hide;
    }

    @media (--md) {
      &__tab {
        @extend .show;
        padding: 10px 24px;
      }
    }

    &__wrapper {
      padding: 12px 18px;
      background-color: var(--color6);
      box: horizontal;
    }

    @media (--md) {
      &__wrapper {
          padding: 10px 24px;
        }
    }

    &__image {
      background-color: color(var(--color2) a(0.1));
      width: 96px;
      height: 96px;
      box-item: top;
    }

    &__description {
      padding-left: 12px;
      box-item: flex-1;
    }

  }

  @media (--lg) {
    .address-qr {
      lost-column: 4/12;
    }
  }
  .address-failed {
    padding: 0 18px 30px 18px;
    font-size: 10px;
    font-family: var(--fontFamily0-Regular);
    color: var(--color1);
  }

  @media (--md) {
    .address-failed {
      padding: 0 24px 30px 24px;
    }
  }

  .transaction-header {
    background-color: var(--color7); /* overridden */
  }

}
