
:root {
  --height-footer-bottom: 70px;

  --cardano-logo-width: 103.5px;
  --cardano-logo-height: 30px;

  --iohk-logo-width: 138.4px;
  --iohk-logo-height: 30px;

}

.explorer-footer {
  background-color: var(--color2);

  &__container {
    @neat-outer-container;
    padding: 0 10px;
  }
  @media (--md) {
    &__container {
      @neat-outer-container;
      max-width:var(--max-width-desktop);
      padding: 0 96px;
    }
  }

  &__top {
    border-bottom: 1px solid color(var(--color3) a(0.5));
    padding: 50px 0;

    .nav__container {
      @neat-shift 1;
      @neat-span-columns 8;
    }

    .nav-item {

      &__container {
        @neat-span-columns 3;

        @media (--xs) {
          @neat-span-columns 2;
        }
      }

      &__header {
        padding-bottom: 12px;
        color: var(--color0);
        font-family: var(--fontFamily0-Light);
        font-size: 12px;
      }

      &__item {
        font-family: var(--fontFamily0-Light);
        font-size: 12px;
        line-height: 30px;
        display: block;

        button: standard-button;
        button-color: color(var(--color3) a(0.5)) color(var(--color3) a(0.3)) color(var(--color3) a(0.3));
      }
    }
  }


  &__bottom {
    color: color(var(--color0) a(0.5));

    .content {
      @neat-span-columns 6;
      height: var(--height-footer-bottom);

      .logo__container {
        box: horizontal;
      }

      .logo_name__img {
        width: var(--cardano-logo-width);
        height: var(--cardano-logo-height);
        box-item: center;
      }

      .logo_iohk_name__img {
        width: var(--iohk-logo-width);
        height: var(--iohk-logo-height);
        box-item: center;
      }

      .split {
        display: inline-block;
        background: var(--color14);
        opacity: 0.2;
        width: 1px;
        height: 30px;
        margin-left: 24px;
        box-item: center;
      }

      .support {
        color: var(--color3);
        opacity: 0.7;
        font-family: var(--fontFamily0-Light);
        font-size: 8px;
        font-weight: 400;
        box-sizing: border-box;
        margin: 0 5px 0 20px;
        text-transform: uppercase;
        box-item: center;
      }

      &__right {
        box: horizontal right;
      }

      &__left {
        box: horizontal;
      }
    }

    .copy {
      font-family: var(--fontFamily0-Light);
      font-size: 10px;
      box-item: center;
    }

    .lang__select {
      height: var(--height-footer-bottom);
      font-family: var(--fontFamily0-Light);
      font-size: 10px;
      color: color(var(--color0) a(0.5));
      border: none;
      width: auto;
      appearance: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 8px 8px;
      padding-right: 10px;
      box-item: center;

      &:hover{
        cursor: pointer;
      }
    }
  }
}
