
.explorer-genesis {
  &__wrapper {
    background-color: var(--color4);

    &:nth-child(even) {
      background-color: var(--color6);
    }
  }


  &__container {
    @extend .outer-container;
    padding: 24px 0;
  }

  @media (--md) {
    &__container {
      padding: 56px 48px 48px 48px;
    }
  }
}
