
.explorer-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color2);
  background-image: url('../static/images/car-sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% var(--min-height-header-bg-image);


  &__container {
    @neat-outer-container;
    padding: 0 10px;
  }
  @media (--md) {
    &__container {
      @neat-outer-container;
      max-width:var(--max-width-desktop);
      padding: 0 96px;
    }
  }

  &__top {
    border-bottom: solid 1px color(var(--color3) a(0.5));
    font-size: 12px;
    height: var(--height-header-top);

    .logo__container {
      @neat-span-columns 2;
      width: 49px;
    }
    @media (--md) {
      .logo__container {
        @neat-span-columns 2;
      }
    }

    .logo__wrapper {
      height: var(--height-header-top);
      box: horizontal;
    }

    .logo__img {
      width: 49px;
      height: 45px;
      box-item: center;
    }

    .nav__container {
      @neat-span-columns 8;
      text-align: center;
      display: none;
    }
    @media (--md) {
      .nav__container  {
        display: block;
      }
    }

    .nav__toggle{display:inline-block;float:right;margin:12px 15px;opacity:0.5}
    .nav__toggle .on{display:none;color:#fff;font-size:35px;font-weight:100;line-height:1;margin:-8px 0 0px 0}

    .currency__container {
      @neat-span-columns 2;
      height: var(--height-header-top);
      text-align: right;
      display: none;
    }
    @media (--mdd) {
      .currency__container {
          display:none;
          border-top:1px solid rgba(255,255,255,0.1);
          background: rgba(14,37,51,0.8);
          position: fixed;z-index: 9;bottom:0px;
          margin:0;
          width:100%;
          text-align: center;
      }
    }
    @media (--md) {
      .currency__container  {
        display: block;
      }
    }
  }
}
@media (--mdd) {
.nav__in .explorer-header__container {
  .nav__toggle {
    position: absolute;
    z-index: 9;
    right:10px;

    .on {
      display:inline-block;
    }
    .off {
      display:none;
    }
  }

  .nav__container{
    display: block;
    margin:0px 0 0 0;
    padding:0px 0;
    width:100%;
    position:fixed;
    background:url('/static/images/header.jpg') right;
    top:0px;
    height:100%;
    overflow-y: scroll;

    .logo__container {
      display:inline-block;
      width:100%;
      float:none;
      text-align:center;
      margin:0 0 0 0;
    }
  }
  .nav__search{
    display:inline-block;
  }
  .currency__container {
    display: block;
  }
}

}
