
.explorer-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color2);
  background-image: url('../static/images/car-sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% var(--min-height-header-bg-image);

  &__container {
    padding: 0 18px;
  }

  @media (--md) {
    &__container {
      @extend .outer-container;
      padding: 0 72px;
    }
  }

  &__top {
    border-bottom: solid 1px color(var(--color3) a(0.5));
    font-size: 12px;
    height: var(--height-header-top-mobile);

    .logo__container {
      lost-column: 2.5/12;
      height: var(--height-header-top-mobile);
    }

    @media (--md) {
      .logo__container  {
        height: var(--height-header-top);
      }
    }

    .logo__wrapper {
      height: 100%;
      box: horizontal;
    }

    .logo__img {
      width: 39px;
      height: 36px;
      box-item: center;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @media (--md) {
      .logo__img {
        width: 49px;
        height: 45px;
      }
    }

    .nav__container {
      @extend .hide;
    }

    @media (--md) {
      .nav__container  {
        @extend .show;
        lost-column: 7/12;
        height: var(--height-header-top);
        text-align: center;
      }
    }

    .currency__container {
      @extend .hide;
    }

    @media (--md) {
      .currency__container  {
        @extend .show;
        lost-column: 2.5/12 3;
        height: var(--height-header-top);
        text-align: right;
      }
    }

    .title__container {
      @extend .show;
      lost-column: 7/12;
      line-height: var(--height-header-top-mobile);
      text-align: center;
      font-family: var(--fontFamily0-Light);
      font-size: 15px;
      color: var(--color0);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @media (--md) {
      .title__container {
        @extend .hide;
      }
    }

    .hamburger__container {
      lost-column: 2.5/12;
      height: var(--height-header-top-mobile);
      box: horizontal right;
    }

    @media (--md) {
      .hamburger__container {
        @extend .hide;
      }
    }

    .hamburger__icon,
    .cross__icon {
      height: 18px;
      width: 18px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      box-item: center;
      &:hover{
        cursor: pointer;
      }
    }
  }

  @media (--md) {
    &__top {
      height: var(--height-header-top);
    }
  }
}

.mobile__menu--opened {
  .explorer-header {
    bottom: 0;
    background-size: 100% 100%;

    &__top {
      border-bottom: none;
    }
  }
}
