
.explorer-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color2);
  background-image: url('../static/images/car-sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% var(--min-height-header-bg-image);

  &__container {
    lost-utility: clearfix;
    padding: 0 18px;
  }

  @media (--md) {
    &__container {
      @extend .outer-container;
      padding: 0 72px;
    }
  }

  &__wrapper {
    border-bottom: solid 1px color(var(--color3) a(0.5));
    font-size: 12px;
    height: var(--height-header-top-mobile);

    .logo__container {
      lost-column: 2.5/12;
      height: var(--height-header-top-mobile);
    }

    @media (--md) {
      .logo__container  {
        lost-column: 2/12;
        height: var(--height-header-top);
      }
    }

    .logo__wrapper {
      height: 100%;
    }

    .logo__img {
      width: 39px;
      height: 36px;
    }

    @media (--md) {
      .logo__img {
        width: 49px;
        height: 45px;
      }
    }

    .middle-content {
      &__search {
        @extend .hide;
      }

      @media (--md) {
        &__search {
          @extend .show;
          lost-column: 8/12;
          height: var(--height-header-top);
          box: horizontal;
        }

        &__search--wrapper {
          height: 100%;
          box: horizontal;

          .explorer-search__container {
            box-item: center;
          }
        }
      }


      &__title {
        @extend .show;
        lost-column: 7/12;
        line-height: var(--height-header-top-mobile);
        text-align: center;
        font-family: var(--fontFamily0-Light);
        font-size: 15px;
        color: var(--color0);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      @media (--md) {
        &__title {
          @extend .hide;
        }
      }
    }

    .right-content {
      &__currency {
        @extend .hide;
      }

      @media (--md) {
        &__currency  {
          @extend .show;
          lost-column: 2/12 3;
          height: var(--height-header-top);
          text-align: right;
        }
      }

      &__hamburger {
        lost-column: 2.5/12;
        height: var(--height-header-top-mobile);
        box: horizontal right;
      }

      @media (--md) {
        &__hamburger {
          @extend .hide;
        }
      }

    }

    .hamburger__icon,
    .cross__icon {
      height: 18px;
      width: 18px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      box-item: center;
      &:hover{
        cursor: pointer;
      }
    }
  }

  @media (--md) {
    &__wrapper {
      height: var(--height-header-top);
    }
  }
}

.mobile__menu--opened {
  .explorer-header {
    bottom: 0;
    background-size: 100% 100%;

    &__top {
      border-bottom: none;
    }
  }
}

.explorer-route-dashboard {
    @media (--md) {
      .explorer-header {
        top: -var(--height-header-top);
      }
    }
}
