
.explorer-404 {

  &__wrapper {
    background-color: var(--color4);
  }

  &__container {
    @neat-outer-container;
    padding: 56px 48px 48px 48px;
  }

  .description {
    padding: 0 24px 24px 24px;
    font-family: var(--fontFamily0-Regular);
    color: var(--color8);
    font-size: 10px;
    font-weight: normal;
  }
}
